@{
    ViewBag.Title = "Home Page";
}

<hr />

<div class="row">
    <span class="panel-body">Authentication type: @ViewBag.AuthType</span>
    <span class="panel-body">Your login: @ViewBag.Login</span>
    <span class="panel-body">@ViewBag.IsAdminInRole</span>  
</div>