@{
    ViewBag.Title = "Photo";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
$(document).ready(function() {
var visibleText = $('#inputFileVisibleText');
var hidden = $('#inputFileHidden');
var visibleBtn = $('#inputFileVisibleBtn');
visibleBtn.on('click', function () {
    alert(10);
        hidden.click();
    })
hidden.on('change', function() {
var fileName = $(this).val().split('\\');
fileName = fileName[fileName.length - 1];
visibleText.val(fileName);
});
});
</script>

@using (Html.BeginForm("File", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <fieldset>
        <legend>Добавить изображение</legend>


        <div class="editor-label">Файл изображения</div>
        <input type="text" class="form-control" placeholder="Прикрепить изображение" id="inputFileVisibleText"
               style="max-width: 100%;">
        <div class="editor-field">
            <input type="file" class="hidden" name="img" id="inputFileHidden"/>
        </div>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="inputFileVisibleBtn">Обзор</button>
        </span>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}