@model List<CustomAuth.ViewModels.ArticleViewModelCommon>

@{
    ViewBag.Title = "Search";
}

<div class="col-lg-9">
    @if (Model.Count != 0)
    {
        <h4 style="text-align: center">Search results</h4>
        <hr/>
        foreach (var article in Model)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>@article.Title</h2>
                    <img src="~/UserContent/@article.ImagePath" width="150px" height="150px" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

                    <em>@article.Author</em>
                    <article>
                        <p>
                            @article.Content
                        </p>
                    </article>
                    <a class="btn btn-xs btn-primary pull-right marginBottom10" href="@Url.Action("Details", "Article", new {Id = article.Id})">read more</a>
                </div>
            </div>
            <br/>
        }
    }
    else
    {
        <h2 style="text-align: center">Nothing found</h2>
    }
</div>