@model List<CustomAuth.ViewModels.ArticleViewModelCommon>

@{
    ViewBag.Title = "Результаты поиска";
}

<div class="col-lg-9">
    @if (Model.Count != 0)
    {
        foreach (var article in Model)
        {
            <a href="@Url.Action("Details", "Article", new {Id = article.Id})" class="list-group-item">
                <div class="panel panel-default">
                    <div class="panel-default"><b>Автор: @article.Author опубликовал статью "@article.Title"</b></div>
                    <hr/>
                    <div class="panel-body">
                        <img src="~/UserContent/@article.ImagePath" alt="Фото отсутствует" style="float: left; margin: 7px 7px 7px 7px; width: 50%; height: 50%"/>
                        <span style="word-wrap: break-word">@article.Content</span>
                    </div>
                </div>
            </a>
            <br/>
        }
    }
    else
    {
        <h2 style="text-align: center">Ничего не найдено</h2>
    }
</div>